/* calendar.scss */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background-color: #f8f9fa;
  --card-header-background-color: #e9ecef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: #ffffff;
    --card-background-color: #1e1e1e;
    --card-header-background-color: #2c2c2c;
  }
}

.custom-calendar {
  @apply w-full h-full flex flex-col flex-grow p-2;
  background-color: var(--background-color);
  color: var(--text-color);
  .react-calendar__tile:hover {
    background-color: var(--card-background-color);
  }
  .react-calendar__tile--active {
    background-color: var(--card-background-color);
  }
  .react-calendar__navigation {
    button,
    button:hover {
      @apply bg-transparent;
    }
    .btn-info {
      @apply py-2 px-4 rounded-lg bg-slate-500;
    }
  }
}

.calendar-week {
  @apply w-full h-full;
  background-color: var(--background-color);
  color: var(--text-color);
}

.calendar-day {
  @apply rounded-sm cursor-pointer;
  background-color: var(--card-background-color);
  color: var(--text-color);

  abbr {
    display: none;
  }

  .card-header {
    @apply py-1 px-2 text-left;
    background-color: var(--card-header-background-color);
  }

  .card-body {
    @apply p-2;
  }
}
/* Hide default carousel left and right controls */
[data-testid="carousel-left-control"],
[data-testid="carousel-right-control"] {
  display: none !important;
}